.about {
    min-height: 457px;
    background-color: $second_color;
    padding-top: 150px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 21px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 40px;
    }
    &__descr {
        width: 445px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
    }
    &__seats {
        margin-top: 15px;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        span {
            color: $main_color;
        }
    }
    &__photo {
        width: 350px;
        height: 300px;
    }
}