.promo {
    min-height: 1045px;
    background: url('../img/main_bg.jpg') center (center / cover) no-repeat;
    padding-top: 263px;
    &__wrapper {
        display: grid;
        grid-template-columns: 540px 370px;
        column-gap: 125px;
    }
    &__item {
        width: 540px;
    }
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 87px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 117px;
    }
    &__subtitle {
        margin-top: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fff;
    }
    &__button {
        margin-top: 49px;
    }
    &__slider {
        display: block;
        img {
            width: 370px;
            height: 510px;
        }
    }
}