.works {
    min-height: 715px;
    background-color: $second_color;
    padding-top: 150px;
    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        img {
            width: 277.5px;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
    &__subtitle {
        position: absolute;
        font-weight: 700;
        font-size: 14px;
        line-height: 33px;
        text-transform: uppercase;
        color: #fff;
        top: 20px;
        left: 20px;
    }
    &__descr {
        position: absolute;
        font-weight: 700;
        font-size: 14px;
        line-height: 33px;
        text-transform: uppercase;
        color: #fff;
        bottom: 60px;
        left: -30px;
        transform: rotate(-90deg);
    }
}